html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

#reset-sketch {
  width: 700px;
  height: 700px;
  position: absolute;
  cursor: pointer;
}